{% extends "blog/base.html" %} {% block content %} {% for vin in vins %}

<h1>Vins de Bacchus</h1>

<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{% url 'vin-detail' vin.id %}"
        >{{ vin.region }} {{vin.appelation}}</a
      >
    </h2>
    <p class="article-content">{{ vin.pays }}</p>
    <a class="nav-item nav-link" href="{% url 'fiche-create' vin.id%}"
      >Nouvelle fiche</a
    >
  </div>
</article>
{% endfor %} {% endblock content %}
