{% extends "blog/base.html" %} {% block content %} {% for vin in vins %}

<h1>Vins de Bacchus</h1>

<article class="media content-section">
  <div class="media-body">
    <h2>
      <a class="article-title" href="{% url 'vin-detail' vin.id %}"
        >{{ vin.region }} {{vin.appelation}}</a
      >
    </h2>
    <div class="d-flex justify-content-between">
      <a
        href="{% url 'fiche-create' vin.id%}"
        class="btn btn-primary btn-lg mr-1"
        role="button"
        aria-pressed="true"
        >Nouvelle fiche</a
      >
      <a
        href="{% url 'vin-fiches' vin.id%}"
        class="btn btn-danger btn-lg"
        role="button"
        aria-pressed="true"
        >Toutes les fiches pour ce vin</a
      >
    </div>
  </div>
</article>
{% endfor %} {% endblock content %}
