{% extends "blog/base.html" %} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <div>
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{% url 'vin-update' object.id %}"
          >Mettre à jour</a
        >
        <a
          class="btn btn-danger btn-sm mt-1 mb-1"
          href="{% url 'vin-delete' object.id %}"
          >Supprimer</a
        >
      </div>
    </div>
    <h2 class="article-title">{{ vin.nom }}</h2>
    <p class="article-content">Pays : {{ vin.pays }}</p>
    <p class="article-content">Région : {{ vin.region }}</p>
    <p class="article-content">Appelation : {{ vin.appelation }}</p>
    <p class="article-content">Cru : {{ vin.cru }}</p>
    <p class="article-content">Couleur : {{ vin.couleur }}</p>
    <p class="article-content">
      Lieu et prix d'achat : {{ vin.lieu_achat }} à {{vin.prix_achat}}€
    </p>
    <p class="article-content">Millésime : {{ vin.millesime }}</p>
    <p class="article-content">Cépages : {{ vin.cepages }}</p>
    <p class="article-content">Propriétaire : {{ vin.proprietaire }}</p>
    <p class="article-content">Degré : {{ vin.degre }}°</p>
  </div>
</article>
{% endblock content %}
